body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: lighten(#eceef1, 30%);
  margin: 0;
  padding-top: 55px;
  color: #34495e;
  overflow-y: scroll;
}


a{
  color: #34495e;
  text-decoration: none;
}


.view{
  max-width: 800px;
  min-height: 1000px;
  margin: 0 auto;
  position: relative;
}

.fade-enter-active, .fade-leave-active{
  transition: all .2s ease;
}


.fade-enter, .fade-leave-active{
  opacity: 0;
}


@media(max-width: 860px) {
  .header .inner{
    padding: 15px 30px;
  }

}

@media(max-width: 600px) {
  body{
    font-size: 14px;
  }
  .header{
    .inner{
      padding: 15px;
    }
    a{
      margin-right: 1em;
    }

    .github{
      display: none;
    }

  }
}
